.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .root, .target{
    display: flex;
    margin: 1rem 0 1rem 0;
  }
  mat-form-field{
    width: 32rem !important;
  }
  button {
    margin: 0 0 0 1rem !important;
  }
}
