<div class="container">
  <mat-card>
    <div class="root">
      <mat-form-field>
        <input matInput placeholder="Plik źródłowy" [value]="rootFile">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getRootFile()">Wybierz</button>
    </div>
    <div class="target">
      <mat-form-field>
        <input matInput placeholder="Miejsce docelowe" [value]="targetFolder">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getTargetDirectory()">Wybierz</button>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              (click)="copy()" [disabled]="!isEnough()">Kopiuj</button>
    </mat-card-actions>
  </mat-card>
</div>
